<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Smart Fix Simulator'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- header -->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="msgSearch" name="msgSearch" class="layui-form" style="margin-top: 20px;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">Side</label>
                    <div class="layui-input-block">
                        <input type="radio" name="side" value="" title="In/Out" checked>
                        <input type="radio" name="side" value="In" title="In">
                        <input type="radio" name="side" value="Out" title="Out">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">Date</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input  name="startDate" id="startTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input name="endDate" id="endTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">MsgType</label>
                    <div class="layui-input-block">
                        <select name="msgType" id="msgType">
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">Version</label>
                    <div class="layui-input-block">
                        <select name="version" id="version">
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                        <label class="layui-form-label">Sender</label>
                        <div class="layui-input-block">
                            <select name="sender" id="sender">
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                            <label class="layui-form-label">Target</label>
                            <div class="layui-input-block">
                                <select name="target" id="target">
                                </select>
                            </div>
                    </div>
                <div class="layui-inline">
                    <button class="layui-input-block layui-btn" lay-submit lay-filter="searchSubmit" name='searchSubmit' id="searchSubmit">Summit</button>
                </div>
            </div>
        </form>


        <hr class="layui-bg-blue" style="border-bottom-color: #19baaa"/>

        <div id="topFunction" class="layui-form layui-form-pane"  style="margin-top: 20px;">
            <div style="float: left;">
                <a class="layui-btn layui-btn-xs" onclick="delAll()" style="background-color: yellow; color:red ">Clear All Message</a>
            </div>
            <div style="float: right;">
                <input type="checkbox" id="autoRefresh" lay-filter="autoRefresh" title="Auto Refresh">
            </div>
        </div>

        <table id="msgLogList" lay-filter="msgLogTable" lay-even lay-skin="line"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="msgDetail">Detail</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="msgDel">Del</a>

        </script>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/msglog/msgLog.js"></script>

</div>
</body>
</html>